---
import "../styles/globals.css";
import { Icon } from "astro-icon";
interface Props {
  type: "image-button" | "text-button" | "back-button";
  href: string;
  imgPath?: string;
  text?: string;
  hasIcon?: boolean;
  iconPack?: string;
  iconName?: string;
}

const { type, imgPath, text, href, hasIcon, iconName, iconPack } = Astro.props;
---

{
  type === "image-button" && (
    <a class="scale-card" href={href}>
      <img
        src={imgPath}
        alt="Buy me a coffee"
        class="mt-5 h-10 cursor-pointer "
      />
    </a>
  )
}

{
  type === "back-button" && (
    <a
      class="scale-card mt-5 flex h-10 w-36 cursor-pointer items-center justify-center rounded-lg bg-custom-yellow text-primary"
      href={href}
    >
      <span class="mr-3 flex flex-row place-content-center place-items-center ">
        {hasIcon && (
          <Icon pack={iconPack} name={iconName} size={20} class="mr-2" />
        )}
        <span>{text}</span>
      </span>
    </a>
  )
}
